<!doctype html>
<html>
  <head>
  </head>
  <body>
      <style type="text/css" media="all">
          ul {
              list-style-type: none;
          }
      </style>
    <div id="vueChat">
        <ul class="messages">
            <li v-for="one_msg in messages"> {{ one_msg[0] }} {{ one_msg[1] }} {{ one_msg[2] }}</li>
        </ul>
        <div class="chatSend">
            <input type='text' v-model='id' id='nameInput' placeholder='Name'>
            <input type='text' v-model='message' id='messageInput' placeholder='Message'>
            <button id='sendButton' v-on:click='sendMessage'>send</button>
            <button id="clearButton" v-on:click='clearAll'>clear All messages</button>
            <p>
            hit 'return' or press 'send' to send a message.
            <br>
            'clear' clears all messages on all clients.
            <br>

            tofix: bug - race condition between sendToFire() and displayChatMessage()
            login message will appear on the wrong side of msgList.
            </p>
        </div>
    </div>


    <script src="static/js/firechat.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
